/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>


#define AS(keycode) &as LS(keycode) keycode

/ {
    chosen {
      zmk,matrix_transform = &five_column_transform;
    };

    combos {
    compatible = "zmk,combos";
    combo_esc { 
        timeout-ms = <50>;
        key-positions = <0 1>;
        layers = <0>;
        bindings = <&kp ESC>;
    };

    combo_dquote{
        timeout-ms = <50>;
        key-positions = <1 2>;
        layers = <0>;
        bindings = <&kp DQT>;  
    };

    combo_quote{
        timeout-ms = <50>;
        key-positions = <7 8>;
        layers = <0>;
        bindings = <&kp SQT>;
    };

    combo_lpar{
        timeout-ms = <50>;
        key-positions = <11 12>;
        layers = <0>;
        bindings = <&kp LPAR>;
    };

    combo_rpar{
        timeout-ms = <50>;
        key-positions = <17 18>;
        layers = <0>;
        bindings = <&kp RPAR>;
    };

    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                display-name = "Base";
                bindings = <
                &kp Q          &kp W        &hm LCTRL E &kp R        &kp T          &kp Y        &kp U        &hm RCTRL I     &kp O         &kp P
                &hm LSHFT A    &hm LALT S   &hm LGUI D  &hm LSHFT F  &kp G          &kp H        &hm RSHFT J  &hm RGUI K      &hm RALT L    &lt 2 SEMI
                &kp Z          &kp X        &kp C       &kp V        &kp B          &mt B N      &kp M        &kp COMMA       &kp DOT       &kp FSLH
                                            &lt F4 3    &lt 1 SPACE  &lt 2 TAB      &lt 2 RET    &lt 1 BSPC   &lt 3 CAPS  
                >;
                };

                num_layer {
                display-name = "Num";
                bindings = <
                &kp LBKT   &kp N1  &kp N2  &kp N3  &kp RBKT        &trans   &kq F11     &kp RCTRL  &trans  &trans 
                &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp GRAVE       &trans   &kp RSHFT   &kp RGUI   &kp RALT  &trans 
                &kp MINUS  &kp N7  &kp N8  &kp N9  &kp BSLH        &trans   &trans      &trans     &trans  &trans 
                                   &kp N0  &trans  &trans          &trans   &trans      &trans
                >;
                };

                arrow_layer {
                display-name = "Arrow";
                bindings = <
                &kq LC(LG(BSLH))  &kq LC(LS(LG(W)))  &kp LCTRL  &trans     &trans          &trans     &trans     &kp UP    &trans      &trans
                &trans            &kp LSHFT          &kp LGUI   &kp LALT   &trans          &trans     &kp LEFT   &kp DOWN  &kp RIGHT   &trans
                &kq LG(Z)         &kq LG(X)          &kq LG(C)  &kq LG(V)  &kq LG(S)       &kq LG(N)  &trans     &trans    &trans      &trans
                                                     &trans     &trans     &trans          &trans     &trans     &trans
                >;
                };

                mouse_layer {
                display-name = "Mouse";
                bindings = <
                &trans   &trans   &trans    &trans   &trans          &trans   &kq LG(LS(N1))    &kq LG(LS(N2))  &kq LG(LS(N3))  &kq LG(LS(N4))
                &trans   &trans   &trans    &trans   &trans          &trans   &mkp RCLK         &mkp MCLK       &mkp LCLK       &trans
                &trans   &trans   &trans    &trans   &trans          &trans   &mkp MB4          &trans          &mkp MB5        &trans
                                  &trans    &trans   &trans          &trans   &trans            &trans
                >;
                };  

        };
};